    {% extends 'accounts/layout.html' %}
    {% load static %}
    {% block content %}

    <div class="row">
        <div class="col">
            <div class="card mb-3 mt-5">
                <p>Are you sure you want to delete "{{item}}"?</p>
                <form action="{% url 'delete_order' item.id %}" method="post">
                    {% csrf_token %}

                    <a href="{% url 'home' %}">Cancel</a>
                    <input type="submit" name="Confirm">
                </form>
            </div>
        </div>
    </div>
    {% endblock%}